asttokens
backcall
debugpy
decorator
entrypoints
executing
ipykernel
ipython
jedi
jupyter-client
jupyter-core
matplotlib-inline
nest-asyncio
packaging
parso
pexpect
pickleshare
prompt-toolkit
psutil
ptyprocess
pure-eval
Pygments
pyparsing
python-dateutil
pyzmq
six
stack-data
tornado
traitlets
wcwidth
